@import url('https://fonts.googleapis.com/css?family=Inconsolata|Karla|Libre+Franklin:400,700|Lora');
/* font-family: 'Inconsolata', monospace;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Lora', serif; */

/*
 *  Default styles
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  */
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a,
a:active,
a:hover,
a:visited {
  color: #000;
  text-decoration: none;
}

a:active {
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

::-moz-selection { color: #26A69A; }
::selection { color: #26A69A; }

/*
 *  Header
 */

.header {
  border-bottom: 1px solid black;
  letter-spacing: 0.32px;
  line-height: 18px;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: calc(20px + 1.2em);
  overflow: hidden;
  padding: 0.6em 0; /* was 0.6em 0.6em */
  z-index: 3;
}

.header a {
  color: #000;
  text-align: center;
}

.header-left {
  display: inline-block;
  padding-left: 2em;
}

.header-right {
  float: right;
}

.header-right .remigai {
  display: none;
}

.header-right > * {
  display: inline-block;
  padding: 0 2em;
  text-decoration: none;
}

.header-right .header-text::after {
  background: #000;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .5s;
}

.header-right .header-text:hover::after {
  width: 100%;
}

.header-right .active::after {
  width: 100%;
}

.header-right .socialmedia > * {
  display:inline-block;
  padding: 0 2px;
  vertical-align: middle;
}

.header-right .socialmedia img {
  height: 14px;
  width: auto;
}

/*
 *  Blog Index
 */

.blog-index {
  display: grid;
  grid-template-columns: 1fr 4fr;
  position: absolute;
  top: 41.6px;
  width: 100%;
  /* bottom: 0; */
  height: 100%;
}

.blog-index .hashtags,
.blog-index .post-hashtags {
  font-family: 'Inconsolata', monospace;
}

/*
 *  Blog Index --- Hashtags
 */

.blog-index .hashtags {
  border-right: 1px solid black;
  font-size: 14px;
  letter-spacing: 0.22px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  -webkit-animation: none;
      -moz-animation: none;
       -ms-animation: none;
        -o-animation: none;
           animation: none;
}

.blog-index .hashtags li {
  margin-bottom: 0.7em;
  padding: 0.1em 0.1em;
  width: fit-content;
  position: relative;
  display: block;
}

.blog-index .hashtags .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  text-decoration: none;
  float: left;
}

.blog-index .hashtags .switch .slider{
  cursor: pointer;
}

.blog-index .hashtags .switch .slider::after {
  width: 0;
  transition: width .5s;
  content: '';
  border-bottom: 2px solid black;
  position: absolute;
  right: 0;
  top: 50%;
}

.blog-index .hashtags .switch .slider:hover::after {
  width: 98%;
}

.blog-index .hashtags .switch input:checked + .slider::after {
  content: '';
  border-bottom: 2px solid black;
  width: 98%;
  position: absolute;
  right: 0;
  top: 50%;
}

/*
 *  Blog Index --- Posts
 */

.blog-index .posts {
  border-top: none;
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; */
  padding: 40px 2em; /* was 50px 2em */
  width: 100%;
}

.blog-index .post {
  padding-bottom: 80px;
}

.blog-index .post-hashtags {
  padding-bottom: 12px;
}

.blog-index .post-hashtags li {
  color: #9b9b9b;
  display: inline;
  font-size: 12px;
  letter-spacing: 0.16px;
}

.blog-index .post-hashtags .post-date {
  float: right;
}

.blog-index .post-title {
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.32px;
  position: relative;
}

.blog-index .nothing {
  display: none;
  margin-top: 30px;
}

.blog-index .minsread-label {
  background-color: #005AFF;
  color: #fff;
  display: none;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  letter-spacing: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blog-index .minsread-label p {
  margin-left: 1.5em;
  position: absolute;
  margin-top: -0.5em;
  top: 50%;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
}

/*
 *  Blog Single Page
 */

.blog-single {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 3em 15em;
  position: absolute;
  top: 41.6px;
  width: 100%;
  bottom: 0;
}

.blog-single .heading {
  padding-bottom: 1em;
}

.blog-single .heading > * {
  padding: 0.3em 0;
}

.blog-single .hashtags,
.blog-single .date,
.blog-single .minsread {
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  letter-spacing: 0.16px;
}

.blog-single .hashtags li,
.blog-single .date,
.blog-single .minsread {
  color: #9b9b9b;
  display: inline;
  font-size: 12px;
  letter-spacing: 0.16px;
}

.blog-single .minsread {
  padding-left: 3em;
}

.blog-single .title {
  color: #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.blog-single .subtitle {
  color: #707070;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.18px;
  /* padding-bottom: 1em; */
}

.blog-single .paragraph {
  padding-bottom: 1em;
  font-family: 'Lora', serif;
  font-size: 20px;
  letter-spacing: 0.22px;
}

.blog-single .paragraph a {
  color: #26A69A;
}

.blog-single .paragraph a:hover {
  color: #B2DFDB;
}

.blog-single .paragraph img {
  padding: 0 2em;
  width: 100%;
  height: auto;
}

.blog-single .paragraph .iframe-wrapper {
  padding: 80% 0 0 0;
  position: relative;
}

.blog-single .paragraph .iframe-wrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .blog-single {
    padding: 3em 10em;
  }

  .blog-single .paragraph img {
    padding: 0 1.2em;
  }

  .blog-single .paragraph .iframe-wrapper {
    padding: 80% 0 0 0;
  }
}

@media only screen and (max-width: 768px) {

  /*
   *  Header
   */

  .header {
    font-size: 14px;
    height: calc(18px + 1.2em);
  }

  .header-left {
    display: none;
  }

  .header .header-right .remigai {
    display: flex;
  }

  .header .header-right {
    display: flex;
    justify-content: space-between;
    float: none;
    padding: 0 1em;
  }

  .header .header-right > * {
    padding: 0 0;
  }

  .header-right .remigai:hover::after {
    width: 0;
  }

  .header-right .socialmedia img {
    width: auto;
    height: 10px;
  }

  /*
   *  Blog Index Page --- Hashtags
   */

  .blog-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    top: 32.8px;
  }

  .blog-index .hashtags {
    /* border-bottom: 2px solid black; */
    border-right: none;
    display: block;
    font-size: 14px;
    padding: 0.6em 0.6em; /* 0.6em 1em */
    width: 100%;
  }

  .blog-index .hashtags li {
    color: #000;
    display: inline-block;
    margin-bottom: 0;
    padding: 0.12em 0.5em;
    width: fit-content;
    text-align: center;
  }

  .blog-index .hashtags .switch .slider:hover::after {
    width: 86%;
  }

  .blog-index .hashtags .switch .slider::after {
    right: 5px;
  }

  .blog-index .hashtags .switch input:checked + .slider::after {
    right: 5px;
    width: 86%;
  }

  /*
   *  Blog Index Page --- Posts
   */

  .blog-index .posts {
    border-top: 1px solid black;
    padding: 20px 1.2em;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .blog-index .post {
    padding-bottom: 40px;
  }

  .blog-index .post-title {
    font-size: 20px;
  }

  .blog-index .minsread-label {
    font-size: 12px;
    letter-spacing: 12px;
  }

  .blog-index .minsread-label p {
    line-height: 14px;
    height: 14px;
    overflow: hidden;
  }

  /*
   *  Blog Single Page
   */

  .blog-single {
    padding: 1em 1em;
    top: 34.8px;
  }

  .blog-single .title {
    font-size: 30px;
    letter-spacing: 0.6px;
  }

  .blog-single .subtitle {
    font-size: 12px;
  }

  .blog-single .paragraph {
    font-size: 16px;
  }

  .blog-single .paragraph img {
    padding: 0;
  }

  .blog-single .paragraph .iframe-wrapper {
    padding: 90% 0 0 0;
  }
}
