/*
 *  CSS Transitions
 */
.blog-index .posts ul li:nth-child(1) {
  animation: fadeinandup 1s ease 0.6s;
}
.blog-index .posts ul li:nth-child(2) {
  animation: fadeinandup 1s ease 0.7s;
}
.blog-index .posts ul li:nth-child(3) {
  animation: fadeinandup 1s ease 0.8s;
}
.blog-index .posts ul li:nth-child(4) {
  animation: fadeinandup 1s ease 0.9s;
}
.blog-index .posts ul li:nth-child(5) {
  animation: fadeinandup 1s ease 1s;
}
.blog-index .posts ul li:nth-child(6) {
  animation: fadeinandup 1s ease 1.1s;
}
.blog-index .posts ul li:nth-child(7) {
  animation: fadeinandup 1s ease 1.2s;
}
.blog-index .posts ul li:nth-child(8) {
  animation: fadeinandup 1s ease 1.3s;
}

.zero-opacity li {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadein 1s ease 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s ease 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s ease 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s ease 1s;
  /* Opera < 12.1 */
  animation: fadein 1s ease 1s;
}

.growing-width {
  -webkit-animation: growingwidth 1s ease;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: growingwidth 1s ease;
  /* Firefox < 16 */
  -ms-animation: growingwidth 1s ease;
  /* Internet Explorer */
  -o-animation: growingwidth 1s ease;
  /* Opera < 12.1 */
  animation: growingwidth 1s ease;
}

.growing-height {
  -webkit-animation: growingheight 1s ease 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: growingheight 1s ease 0.5s;
  /* Firefox < 16 */
  -ms-animation: growingheight 1s ease 0.5s;
  /* Internet Explorer */
  -o-animation: growingheight 1s ease 0.5s;
  /* Opera < 12.1 */
  animation: growingheight 1s ease 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinandup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeinandup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeinandup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
@-ms-keyframes fadeinandup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeinandup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes growingwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes growingwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes growingwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-ms-keyframes growingwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes growingwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes growingheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-moz-keyframes growingheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes growingheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-ms-keyframes growingheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-o-keyframes growingheight {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

/*# sourceMappingURL=transition.css.map */
